extends ../layout/app

block styles 
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
  //- pre= JSON.stringify(property, null, 2)
  
block content

  div(class="py-5")
    h1(id="title" class="text-4xl my-10 font-extrabold text-center")= property.title

    div 
      a(href="#" class="font-bold text-gray-600 text-sm") Category: 
        span(class="font-normal")= property.category.name
      
    div(class="mt-5 md:flex md:gap-4")
      div(class="md:w-2/3 bg-white shadow rounded-lg") 
        img(src=`/uploads/${property.image}` alt=`Image for ${property.title}` class="w-full h-96 object-cover rounded-lg")

        div(class="px-5 py-10 space-y-5")
          p= property.description

          h2(class="text-2xl leading-6 font-bold text-gray-900") Property details

          div(class="grid grid-cols-1 md:grid-cols-2")
            p(class="text-gray-600 font-bold text-xs") Bathrooms
              span(class="text-gray-800 block text-lg")= property.bathrooms

            p(class="text-gray-600 font-bold text-xs") Rooms
              span(class="text-gray-800 block text-lg")= property.rooms

            p(class="text-gray-600 font-bold text-xs") Parking
              span(class="text-gray-800 block text-lg")= property.parking

            p(class="text-gray-600 font-bold text-xs") Price
              span(class="text-gray-800 block text-lg")= property.price.name
  
      div(class="md:w-1/3") 
        h3(class="text-center py-10 leading-6 font-bold text-2xl text-gray-900") Location 
        
        div(class="h-96" id="map")
          p(class="hidden" id="lat")= property.lat
          p(class="hidden" id="lng")= property.lng
        
        div(class="p-5")
          p(class="text-gray-600 font-bold text-xs") Address 
            span(class="text-gray-800 block text-lg" id="street")= property.street

block scripts
  script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
  script(src="/js/showMap.js")